html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: var(--txt);
  font-family: var(--font-fallback);
  font-family: var(--font);
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  height: 100dvh;
}
.title {
  color: var(--accent);
}

div[data-elm-hot],
.container,
.game-area {
  height: 100%;
}

.footer {
  padding: 18px;
  border-top: var(--bw) solid var(--bd);
  text-align: center;
  background: var(--bg);
}

.footer p {
  margin: 0 0 8px 0;
}

.container {
  position: relative;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.game-over {
  padding: 20px;
  margin: auto 10%;
  text-align: center;
  border: solid 1px var(--modal-bd);
  border-radius: var(--modal-rd);
  background: var(--modal-bg);
  box-shadow: var(--modal-sh);
}

.game-over div {
  margin: 20px;
  font-size: 1.1em;
}

.game-area {
  display: flex;
  flex-direction: column;
}

.header {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  background: var(--bg);
  display: flex;
}

.start-button {
  background: var(--button-bg);
  color: var(--button-txt);
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  border-radius: var(--rd);
  width: 55px;
  height: 55px;
  border: none;
  transition: background ease-in-out 200ms, color ease-in-out 200ms;
}
.start-button:hover {
  background-color: var(--button-hv);
}

.start-button.happy {
  background-image: url(happy.svg);
}

.start-button.sad {
  background-image: url(sad.svg);
}

.bomb-count,
.timer {
  display: flex;
  gap: 16px;
  background: var(--bg);
  color: var(--accent);
  font-weight: bold;
  padding: 10px;
  font-size: 1.8em;
}

.timer {
  justify-content: flex-end;
}

.bomb-icon,
.timer-icon {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  background-color: var(--vote-no-color);
  flex: 0 0 40px;
  border-radius: var(--rd);
}

.bomb-icon {
  background-image: url(bomb.svg);
}

.timer-icon {
  background-image: url(timer.svg);
}

.grid {
  display: flex;
  flex-direction: column;
  flex: auto;
  overflow-y: auto;
}

.row {
  display: flex;
}

.cell {
  flex: 1;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: var(--bw) solid var(--bd);
  border-top: var(--bw) solid var(--bd);
  cursor: pointer;
  background-color: var(--primary);
}

.cell.flagged {
  background-image: url(flag.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  background-color: var(--error);
}

.cell.cleared {
  background-color: var(--bg);
}

.cell.bomb {
  background-image: url(bomb.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  background-color: var(--vote-no-color);
}

.cell:last-child {
  border-right: none;
}

.btn {
  border: none;
  padding: 16px 32px;
  background-color: var(--button-bg);
  color: var(--button-txt);
  cursor: pointer;
  transition: background ease-in-out 200ms, color ease-in-out 200ms;
  border-radius: var(--rd);
}

.btn:hover {
  background-color: var(--button-hv);
}
